# C build
build/

# Model weights
model_weights/
checkpoints/

# Profiling
*.nsys-rep
*sqlite

# Third-party libraries
include/third_party/

# vscode settings
.vscode/*
.vscode/

# Claude Code
.claude/settings.local.json

# Data
data/

python_scripts/nano-vllm